body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
}

header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.event-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.event-card {
  background: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 10px;
}
.event-card:hover{
  background-color: black;
  color:white;
}

.event-card img {
  width: 100%;
  border-radius: 10px;
}

.event-card button {
  margin-top: 10px;
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.modal-content input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.modal-content button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.About{
  text-align: center;
  background-color: rgb(26, 14, 14);
  color: aliceblue;

}


.About:hover{
  background-color: white;
  color: black;
}
p{
  text-align: justify;
}
.Copy{
  padding: 15px;
  /* margin-left: 700px; 
  background-color: black; */
  color: black;
  text-align: right;
}
.final{
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  
}